// Variables
$blue : #15c5bd;
$grey : #303030;
$white: #FFF;


// Imports
@font-face {
  font-family: 'bellota';
  src: url('../fonts/Bellota-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'bellota', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-color{
  background-color: $blue;
}

nav a{
  color : $white;
}

.navbar-dark .navbar-nav .nav-link{
  color : $white;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color : $grey;
}

.navbar-dark .navbar-nav .active .nav-link{
  color : $grey;
}


footer {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: $blue;
  color:$white;
}

footer ul li {
  list-style-type: none;
}

footer ul li .fab {
  color: $white;
}

footer ul li .fab:hover {
  color: $grey;
}