// Variables
//Changement des noms de variable pour coller aux normes
// (si jamais le client veut changer de couleur, ces noms n'ont plus de sens)
$primaryColor : #15c5bd;
$secondaryColor : #303030;
// remplacement des whites histoire d'être totalement cohérent. (et de pouvoir changer facilement après)
$linkColor: #FFF;


// Import de police
@font-face {
  font-family: 'bellota';
  src: url('../fonts/Bellota-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'bellota', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-color{
  background-color: $primaryColor;
}

nav a{
  color : $linkColor;
}

.navbar-dark .navbar-nav .nav-link{
  color : $linkColor;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color : $secondaryColor;
}

.navbar-dark .navbar-nav .active .nav-link{
  color : $secondaryColor;
}


footer {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: $primaryColor;
  color:$linkColor;
}

footer ul li {
  list-style-type: none;
}

footer ul li .fab {
  color: $linkColor;
}

footer ul li .fab:hover {
  color: $secondaryColor;
}